@{
    ViewData["Title"] = "Home Page - Aluno";
}

<div class="uk-background-cover uk-background-blend-soft-light uk-background-secondary uk-flex uk-flex-center uk-flex-middle" style="background-image: url(@Url.Content("~/images/homebackground.jpg"))">
    <div class="uk-container uk-height-viewport">
        <img data-src="@Url.Content("~/images/logo_transparent.png")" alt="" style="height: 100vh" uk-img>
    </div>
</div>
