@model PUC.LDSI.Domain.Entities.Turma

@{
    ViewData["Title"] = "Turma";
}
<div class="uk-background-cover uk-background-blend-soft-light uk-background-secondary" style="background-image: url(@Url.Content("~/images/dashboardbackground.jpg"))">
    <div class="uk-height-viewport">
        <div class="uk-section uk-margin">
            <div class="uk-card uk-horizontal-center uk-card-default uk-card-body uk-width-1-2@m uk-width-1-1">
                <h3 class="uk-card-title">Nova Turma</h3>
                <form class="uk-form-stacked" asp-action="Create">
                    <div asp-validation-summary="ModelOnly" class="uk-text-danger"></div>
                    <div class="uk-margin">
                        <div class="uk-form-controls">
                            <label asp-for="Nome" class="uk-form-label">Nome</label>
                            <input asp-for="Nome" class="uk-input" placeholder="Nome da Turma" />
                        </div>
                        <span asp-validation-for="Nome" class="uk-text-danger"></span>
                    </div>
                    <div class="uk-margin">
                        <input type="submit" value="Criar" class="uk-button uk-button-primary" />
                    </div>
                </form>
                <a class="uk-link-muted uk-align-right" asp-action="Index">Voltar Para a Lista</a>
            </div>
        </div>
    </div>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
