@using Microsoft.AspNetCore.Http.Features

@{
    var consentFeature = Context.Features.Get<ITrackingConsentFeature>();
    var showBanner = !consentFeature?.CanTrack ?? false;
    var cookieString = consentFeature?.CreateConsentCookie();
}

@if (showBanner)
{
<div id="cookieConsent" class="uk-alert-primary" uk-alert>
    <a class="uk-alert-close" uk-close></a>
    <p>
        Nosso site usa cookies para melhorar a usabilidade de nossos clientes personalizando a navegação e trazendo comodidade ao uso.
    </p>
    <button type="button" class="uk-button uk-button-secondary" data-cookie-string="@cookieString">Permitir Cookies</button>
</div>
}