@model PUC.LDSI.Domain.Entities.Publicacao

@{
    ViewData["Title"] = "Edit";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Edit</h2>

<h4>Publicacao</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Edit">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="DataInicio" class="control-label"></label>
                <input asp-for="DataInicio" class="form-control" />
                <span asp-validation-for="DataInicio" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="DataFim" class="control-label"></label>
                <input asp-for="DataFim" class="form-control" />
                <span asp-validation-for="DataFim" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Valor" class="control-label"></label>
                <input asp-for="Valor" class="form-control" />
                <span asp-validation-for="Valor" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="IdAvaliacao" class="control-label"></label>
                <select asp-for="IdAvaliacao" class="form-control" asp-items="ViewBag.IdAvaliacao"></select>
                <span asp-validation-for="IdAvaliacao" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="IdTurma" class="control-label"></label>
                <select asp-for="IdTurma" class="form-control" asp-items="ViewBag.IdTurma"></select>
                <span asp-validation-for="IdTurma" class="text-danger"></span>
            </div>
            <input type="hidden" asp-for="Id" />
            <div class="form-group">
                <label asp-for="CriadoEm" class="control-label"></label>
                <input asp-for="CriadoEm" class="form-control" />
                <span asp-validation-for="CriadoEm" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="AtualizadoEm" class="control-label"></label>
                <input asp-for="AtualizadoEm" class="form-control" />
                <span asp-validation-for="AtualizadoEm" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Save" class="btn btn-default" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

