@model PUC.LDSI.Domain.Entities.Publicacao

@{
    ViewData["Title"] = "Publicação";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<div class="uk-background-cover uk-background-blend-soft-light uk-background-secondary" style="background-image: url(@Url.Content("~/images/dashboardbackground.jpg"))">
    <div class="uk-height-viewport">
        <div class="uk-section uk-margin">
            <div class="uk-card uk-horizontal-center uk-card-default uk-card-body uk-width-1-2@m uk-width-1-1">
                <h3 class="uk-card-title">Editar Avaliação</h3>
                <small class="uk-text-primary">Avaliação "<b>@Model.Avaliacao.Materia</b>" publicado para a turma <b>@Model.Turma.Nome</b>.</small>
                <hr />
                <form asp-action="Edit">
                    <div asp-validation-summary="All" class="text-danger"></div>

                    @*Id da publicação*@
                    <input type="hidden" asp-for="Id" />

                    @*Data de Início*@
                    <div class="uk-margin">
                        <div class="uk-form-controls">
                            <label asp-for="DataInicio" class="uk-form-label">Data de Início</label>
                            <input asp-for="DataInicio" type="date" class="uk-input" />
                        </div>
                        <span asp-validation-for="DataInicio" class="uk-text-danger"></span>
                    </div>

                    @*Data de Fim*@
                    <div class="uk-margin">
                        <div class="uk-form-controls">
                            <label asp-for="DataFim" class="uk-form-label">Data de Início</label>
                            <input asp-for="DataFim" type="date" class="uk-input" />
                        </div>
                        <span asp-validation-for="DataFim" class="uk-text-danger"></span>
                    </div>

                    @*Valor*@
                    <div class="uk-margin">
                        <div class="uk-form-controls">
                            <label asp-for="Valor" class="uk-form-label">Valor</label>
                            <input asp-for="Valor" class="uk-input" placeholder="Valor da avaliação em pontos" />
                        </div>
                        <span asp-validation-for="Valor" class="uk-text-danger"></span>
                    </div>

                    <hr />

                    @*Submit do form*@
                    <div class="uk-clearfix">
                        <div class="uk-float-left">
                            <button class="uk-button uk-button-primary" type="submit">Salvar</button>
                        </div>
                        <div class="uk-float-right">
                            <a asp-controller="Publicacao" asp-action="Index" class="uk-button uk-button-default">Voltar para a lista</a>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>

