@using PUC.LDSI.Domain.Entities
@model Avaliacao

@{
    ViewData["Title"] = "Avaliação";
    List<AvaliacaoQuestao> Questoes = new List<AvaliacaoQuestao>();
}

<div class="uk-background-cover uk-background-blend-soft-light uk-background-secondary" style="background-image: url(@Url.Content("~/images/dashboardbackground.jpg"))">
    <div class="uk-height-viewport">
        <div class="uk-section uk-margin">
            <div class="uk-card uk-horizontal-center uk-card-default uk-card-body uk-width-1-2@m uk-width-1-1">
                <h3 class="uk-card-title">Nova Avaliação</h3>
                <hr />
                <form asp-action="Create">
                    <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                    <fieldset class="uk-fieldset">

                        <div class="uk-margin">
                            <div class="uk-form-controls">
                                <label asp-for="IdDisciplina" class="uk-form-label">Disciplina</label>
                                <select asp-for="IdDisciplina" class="uk-select" asp-items="ViewBag.IdDisciplina"></select>
                            </div>
                        </div>

                        <div class="uk-margin">
                            <div class="uk-form-controls">
                                <label asp-for="Materia" class="uk-form-label">Matéria</label>
                                <input asp-for="Materia" class="uk-input" type="text" placeholder="Informe a matéria da prova">
                            </div>
                            <span asp-validation-for="Materia" class="uk-text-danger"></span>
                        </div>

                        <div class="uk-margin">
                            <div class="uk-form-controls">
                                <label asp-for="Descricao" class="uk-form-label" for="form-stacked-text">Descrição</label>
                                <textarea asp-for="Descricao" class="uk-textarea" rows="5" placeholder="Informe a descrição da prova"></textarea>
                            </div>
                            <span asp-validation-for="Descricao" class="uk-text-danger"></span>
                        </div>

                        <hr />

                        <h3 class="uk-legend titulo-questoes">Questões</h3>

                        <div class="div-questoes">
                            <fieldset class="uk-fieldset">

                                <table id="q-table" class="uk-table uk-table-hover uk-table-divider tabela-questoes">
                                    <tbody>
                                        <tr>
                                            <td class="uk-table-expand uk-table-link">
                                                <a class="uk-link-reset">Questão 1</a>
                                            </td>
                                            <td>
                                                <a uk-tooltip="Remover" onclick="removeRow(this)" class="uk-hover-danger" uk-icon="icon: trash"></a>
                                            </td>
                                        </tr>
                                        <tr style="background-color: #b8ffa8; color: black; border-top: 2px solid black;">
                                            <td class="uk-table-link" colspan="2">
                                                <a onclick="novaQuestao()" class="uk-link-reset">
                                                    <b>
                                                        <span uk-icon="plus" style="font-size: 30px"></span> Nova questão
                                                    </b>
                                                </a>
                                            </td>
                                        </tr>
                                    </tbody>
                                </table>

                                <div id="novaQuestao" style="display: none">
                                    <div class="uk-margin">
                                        <label class="uk-form-label" for="form-stacked-text">Tipo</label>
                                        <select id="q-tipo" class="uk-select">
                                            <option value="1">Múltipla escolha</option>
                                            <option value="2">Aberta</option>
                                        </select>
                                    </div>

                                    <div class="uk-margin">
                                        <div class="uk-form-controls">
                                            <label class="uk-form-label" for="form-stacked-text">Enunciado</label>
                                            <textarea id="q-enunciado" class="uk-textarea" rows="5" placeholder="Informe o enunciado da questão"></textarea>
                                        </div>
                                    </div>

                                    <div class="uk-clearfix">
                                        <div class="uk-float-left">
                                            <button onclick="salvarQuestao()" class="uk-button uk-button-primary">Salvar</button>
                                        </div>
                                        <div class="uk-float-right">
                                            <a onclick="cancelarNovaQuestao()" class="uk-button uk-button-default">Cancelar</a>
                                        </div>
                                    </div>
                                </div>

                                @functions {
                                    protected string addNovaQuestao()
                                    {
                                        return "oi";
                                    }
                                }

                                <hr />

                                <h3 class="uk-legend titulo-questoes">Opções</h3>
                                <div class="uk-margin">
                                    <div class="uk-form-controls uk-form-controls-text">
                                        <label>
                                            <input class="uk-radio" type="radio" name="radio1" checked> Opção 01
                                            <a>(X)</a>
                                        </label><br>
                                        <label>
                                            <input class="uk-radio" type="radio" name="radio1"> Opção 02
                                            <a>(X)</a>
                                        </label><br>
                                        <label>
                                            <input class="uk-radio" type="radio" name="radio1"> Opção 03
                                            <a>(X)</a>
                                        </label><br>
                                        <label>
                                            <input class="uk-radio" type="radio" name="radio1"> Opção 04
                                            <a>(X)</a>
                                        </label><br>
                                    </div>
                                    <br>
                                    <a>+ Adicionar opções</a>
                                    <button class="uk-button uk-button-default bgreen uk-align-right" style="color: black"
                                            type="button">
                                        Salvar
                                    </button>

                                </div>

                            </fieldset>
                        </div>
                    </fieldset>
                </form>
                <a class="uk-link-muted uk-align-right" asp-action="Index">Voltar Para a Lista</a>
            </div>
        </div>
    </div>
</div>

<form asp-action="Create">
    <div class="form-group">
        <label asp-for="IdProfessor" class="control-label"></label>
        <select asp-for="IdProfessor" class="form-control" asp-items="ViewBag.IdProfessor"></select>
    </div>
    <div class="form-group">
        <label asp-for="CriadoEm" class="control-label"></label>
        <input asp-for="CriadoEm" class="form-control" />
        <span asp-validation-for="CriadoEm" class="text-danger"></span>
    </div>
    <div class="form-group">
        <label asp-for="AtualizadoEm" class="control-label"></label>
        <input asp-for="AtualizadoEm" class="form-control" />
        <span asp-validation-for="AtualizadoEm" class="text-danger"></span>
    </div>
    <div class="form-group">
        <input type="submit" value="Create" class="btn btn-default" />
    </div>
</form>
<script>
    function novaQuestao() {
        event.preventDefault();
        document.getElementById("novaQuestao").style.display = "block";
    }
    function cancelarNovaQuestao() {
        event.preventDefault();
        document.getElementById("novaQuestao").style.display = "none";
    }
    function salvarQuestao() {
        event.preventDefault();
        let av = new AvaliacaoQuestao();
        av.Enunciado = $("#q-enunciado");
        av.Tipo = $("#q-tipo");
        if (av.Enunciado == "") {
            let table = document.getElementById("q-table");
            let row = table.insertRow(-1);
            let inputCell = row.insertCell(0);
            let removeCell = row.insertCell(1);

            let iconTrash = document.createElement("i");
            iconTrash.classList.add("i-remove", "fa", "fa-trash-alt");
            let input = document.createElement("input");
            input.classList.add("input-t");
            input.value = av.Enunciado;
            input.type = "text";
            input.name = "questa[]";
            input.readOnly = true;
            iconTrash.addEventListener("click", function () { removeRow(iconTrash) })
            removeCell.appendChild(iconTrash);
            inputCell.appendChild(input);

            $("#q-enunciado").val('');
        }
    }
    function removeRow(el) {
        event.preventDefault();
        let row = $(el).closest("tr");
        row.remove();
    }

    class AvaliacaoQuestao {
        Tipo
        Enunciado
    }
</script>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
