@using Microsoft.AspNetCore.Identity
@using PUC.LDSI.Domain.Entities
@inject UserManager<Usuario> UserManager
@model Avaliacao

@{
    ViewData["Title"] = "Avaliação";
}

<div class="uk-background-cover uk-background-blend-soft-light uk-background-secondary" style="background-image: url(@Url.Content("~/images/dashboardbackground.jpg"))">
    <div class="uk-height-viewport">
        <div class="uk-section uk-padding">
            <div class="uk-card uk-horizontal-center uk-card-default uk-card-body uk-width-1-2@m uk-width-1-1">
                <h3 class="uk-card-title">Nova Avaliação</h3>
                <hr />
                <form asp-action="Create">
                    <div asp-validation-summary="ModelOnly" class="text-danger"></div>

                    @*Disciplina*@
                    <div class="uk-margin">
                        <div class="uk-form-controls">
                            <label asp-for="IdDisciplina" class="uk-form-label">Disciplina</label>
                            <select asp-for="IdDisciplina" class="uk-select" asp-items="ViewBag.IdDisciplina"></select>
                        </div>
                        <span asp-validation-for="IdDisciplina" class="uk-text-danger"></span>
                    </div>

                    @*Matéria*@
                    <div class="uk-margin">
                        <div class="uk-form-controls">
                            <label asp-for="Materia" class="uk-form-label">Matéria</label>
                            <input asp-for="Materia" class="uk-input" type="text" placeholder="Informe a matéria da prova">
                        </div>
                        <span asp-validation-for="Materia" class="uk-text-danger"></span>
                    </div>

                    @*Descrição*@
                    <div class="uk-margin">
                        <div class="uk-form-controls">
                            <label asp-for="Descricao" class="uk-form-label" for="form-stacked-text">Descrição</label>
                            <textarea asp-for="Descricao" class="uk-textarea" rows="5" placeholder="Informe a descrição da prova"></textarea>
                        </div>
                        <span asp-validation-for="Descricao" class="uk-text-danger"></span>
                    </div>
                    
                    @*Submit do form*@
                    <div class="uk-clearfix">
                        <div class="uk-float-left">
                            <button class="uk-button uk-button-primary" type="submit">Salvar</button>
                        </div>
                        <div class="uk-float-right">
                            <a asp-action="Index" class="uk-button uk-button-default">Voltar para a lista</a>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>
@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
